/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles/tokens' as awsui;

.css-grid {
  display: grid;
  gap: awsui.$space-grid-gutter;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(max(var(--min-column-width), 100% / calc(var(--column-count) + 1)), 1fr));
  
  &.grid-no-gutters {
    gap: 0;
  }
}

/*
POC code to force even number of columns:
--computed-column-width: max(var(--min-column-width), 100% / calc(var(--column-count) + 1));
grid-template-columns: repeat(auto-fill, minmax(var(--computed-column-width), 1fr) minmax(var(--computed-column-width), 1fr));
*/