$border-color: --awsui-border-color-1s4xvs;
$border-width: --awsui-border-width-1s4xvs;
$border-radius: --awsui-border-radius-1s4xvs;
$background: --awsui-background-1s4xvs;
$padding-inline: --awsui-padding-inline-1s4xvs;
$padding-block: --awsui-padding-block-1s4xvs;
