/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/hooks/focus-visible' as focus-visible;

@mixin trigger-selected-styles {
  background: awsui.$color-background-layout-toggle-selected-default;
  color: awsui.$color-text-layout-toggle-selected;

  &:hover {
    background: awsui.$color-background-layout-toggle-selected-hover;
  }
  &:active {
    background: awsui.$color-background-layout-toggle-selected-active;
  }
}

@mixin trigger-button-styles {
  background: awsui.$color-background-layout-panel-content;
  color: awsui.$color-text-interactive-default;
  border-radius: 50%;
  height: awsui.$space-layout-toggle-diameter;
  width: awsui.$space-layout-toggle-diameter;

  &:hover {
    background: awsui.$color-background-layout-toggle-hover;
    color: awsui.$color-text-layout-toggle-selected;
  }

  &:active {
    background: awsui.$color-background-layout-toggle-active;
    color: awsui.$color-text-layout-toggle-active;
  }
}

.trigger-badge-wrapper {
  @include trigger-button-styles();

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
Warning! If these design tokens for width change it will adversely impact 
the calculation used to determine the Split Panel maximum width in the 
handleSplitPanelMaxWidth function in the context.
*/
.trigger {
  @include trigger-button-styles();

  border: none;

  cursor: pointer;
  padding: 0;
  pointer-events: auto;
  position: relative;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(3px);
  }

  &:focus {
    outline: none;
  }

  &.selected {
    @include trigger-selected-styles();

    > .trigger-badge-wrapper {
      @include trigger-selected-styles();
    }
  }

  &.badge,
  &.badge:hover,
  &.badge:active {
    background: transparent;
  }
}

.trigger-wrapper {
  position: relative;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid awsui.$color-background-layout-panel-content;
  border-radius: 50%;
  background-color: awsui.$color-background-badge-icon;
  top: 1px;
  right: 1px;
}
