/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;

section.universal-toolbar {
  align-items: center;
  background-color: awsui.$color-background-layout-panel-content;
  border-bottom: awsui.$border-divider-layout-width solid transparent;
  box-sizing: border-box;
  height: 48px;
  display: grid;
  grid-area: universalToolbar;
  grid-column: 2 / span 3;
  grid-template-columns: minmax(0, auto) awsui.$space-m 1fr minmax(0, auto) minmax(0, auto);
  padding: 0 awsui.$space-m;
  position: sticky;
  top: var(#{custom-props.$offsetTop});
  transition: ease all 0.5s;
  z-index: 840;

  &.toolbar-hidden {
    top: -60px;
    opacity: 0;
    height: 0px;
    border-bottom: none;
  }

  &.toolbar-sticky {
    // box-shadow: 0 4px 16px 0 rgba(0, 7, 22, 0.06);
    border-bottom: awsui.$border-divider-layout-width solid awsui.$color-border-divider-panel-bottom;
  }

  > .universal-toolbar-nav {
    grid-column: 1;
  }

  > .universal-toolbar-breadcrumbs {
    grid-column: 3;
    background-color: awsui.$color-background-layout-panel-content;
  }

  > .universal-toolbar-tools {
    grid-column: 4;
  }
}
