/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/generated/custom-css-properties/index.scss' as custom-props;

// .layout {
//   display: grid;
//   grid-template-columns: minmax(0, 1fr);
//   grid-template-rows: minmax(0, auto) #{awsui.$space-dark-header-overlap-distance} minmax(0, 1fr);
//   min-height: 100%;
//   row-gap: #{awsui.$space-scaled-s};

//   &.is-overlap-disabled {
//     grid-template-rows: 0 minmax(0, auto) 0 minmax(0, 1fr);
//   }

//   > .background {
//     background-color: awsui.$color-background-layout-main;
//     grid-column: 1;
//     grid-row: 1 / 4;
//     color: awsui.$color-text-body-default;

//     &.is-overlap-disabled {
//       grid-row: 1 / 2;
//     }
//   }

//   > .header {
//     grid-column: 1;
//     grid-row: 1;
//   }

//   > .content {
//     grid-column: 1;
//     grid-row: 2 / 4;
//   }
// }

.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows:
    minmax(0, auto)
    #{awsui.$space-scaled-s}
    #{awsui.$space-dark-header-overlap-distance}
    minmax(0, 1fr);
  min-height: 100%;

  > .background {
    background-color: awsui.$color-background-layout-main;
    color: awsui.$color-text-body-default;
    grid-column: 1 / 4;
    grid-row: 1 / 4;

    &.is-overlap-disabled {
      grid-row: 1 / 3;
    }
  }

  > .header {
    grid-column: 1;
    grid-row: 1;
  }

  > .content {
    grid-column: 1;
    grid-row: 3 / 5;
  }
}
