/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/generated/custom-css-properties/index.scss' as custom-props;

.layout {
  column-gap: #{awsui.$space-scaled-m};
  display: grid;
  grid-template-columns: 0 minmax(0, 1fr) 0;
  grid-template-rows: 0 minmax(0, auto) #{awsui.$space-dark-header-overlap-distance} minmax(0, 1fr);
  min-height: 100%;
  row-gap: #{awsui.$space-scaled-s};

  &.is-overlap-disabled {
    grid-template-rows: 0 minmax(0, auto) 0 minmax(0, 1fr);
  }

  > .background {
    background-color: awsui.$color-background-layout-main;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    color: awsui.$color-text-body-default;

    &.is-overlap-disabled {
      grid-row: 1 / 2;
    }
  }

  > .header {
    grid-column: 2;
    grid-row: 2;
  }

  > .content {
    grid-column: 2;
    grid-row: 3 / 5;
  }
}
