/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;

.header {
  align-items: center;
  background-color: awsui.$color-background-home-header;
  border-bottom: 1px solid awsui.$color-border-divider-default;
  box-shadow: awsui.$shadow-panel-toggle;
  display: grid;
  grid-area: header;
  grid-template-columns:
    #{awsui.$space-scaled-m}
    #{awsui.$size-icon-normal}
    #{awsui.$space-scaled-m}
    minmax(0, 1fr)
    #{awsui.$space-scaled-m}
    #{awsui.$size-icon-normal}
    #{awsui.$space-scaled-m};
  grid-template-rows:
    #{awsui.$space-scaled-xxs}
    minmax(0, auto)
    #{awsui.$space-scaled-xxs};
  position: sticky;
  top: var(#{custom-props.$headerHeight});
  z-index: 1000;

  > .actions-inline-start {
    grid-column: 2;
    grid-row: 2;
  }

  > .breadcrumbs {
    grid-column: 4;
    grid-row: 2;
  }

  > .actions-inline-end {
    grid-column: 6;
    grid-row: 2;
  }

  > .actions-inline-start > .action,
  > .actions-inline-end > .action {
    padding: 0;
  }
}
