/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;

.toolbar {
  background: awsui.$color-background-layout-panel-content;
  border-bottom: awsui.$border-panel-header-width solid awsui.$color-border-divider-panel-side;
  display: grid;
  grid-area: toolbar;
  grid-template-columns: #{awsui.$space-scaled-m} 1fr #{awsui.$space-scaled-m};
  grid-template-rows: #{awsui.$space-scaled-xxs} 1fr #{awsui.$space-scaled-xxs};
  position: sticky;
  transition: ease all 0.7s;
  z-index: 850;
  margin-bottom: awsui.$space-scaled-s;
}

.container {
  align-items: center;
  display: grid;
  grid-column: 2;
  grid-row: 2;
  grid-template-columns: minmax(0, auto) 1fr minmax(0, auto);
}

.actions-inline-start {
  grid-column: 1;
}

.breadcrumbs {
  display: grid;
  grid-column: 2;
  grid-template-columns: #{awsui.$space-s} 1fr #{awsui.$space-s};

  > nav {
    grid-column: 2;
    margin-top: -1px;
    padding: 0;
  }
}

.actions-inline-end {
  column-gap: #{awsui.$space-xxs};
  display: grid;
  grid-column: 3;
  grid-template-columns: repeat(3, minmax(0, auto));
}

.button {
  align-items: center;
  background: awsui.$color-background-layout-panel-content;
  border: none;
  border-radius: awsui.$border-radius-item;
  color: awsui.$color-text-interactive-default;
  cursor: pointer;
  display: flex;
  height: 28px;
  justify-content: center;
  padding: 0;
  transition: ease all awsui.$motion-duration-expressive;
  width: 28px;

  &:hover {
    background: awsui.$color-background-layout-toggle-hover;
    color: awsui.$color-text-layout-toggle;
  }

  &:active {
    opacity: 0.7;
  }

  &.selected {
    background: awsui.$color-background-layout-toggle-selected-active;
    color: awsui.$color-text-layout-toggle-active;
  }
}
