/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles/tokens' as awsui;

.list-grid {
  display: grid;
  gap: awsui.$space-grid-gutter;
}

.list-item {
  padding-block: calc(awsui.$space-grid-gutter / 2);
  padding-inline: calc(awsui.$space-grid-gutter / 2);

  &:not(:last-child) {
    border-block-end-color: awsui.$color-border-divider-default;
    border-block-end-style: solid;
    border-block-end-width: 1px;
  }
}
